head
    Title AeP IT Management App
    link(href="https://fonts.googleapis.com/icon?family=Material+icons",rel="stylesheet")

template(name="layout")
    .container
        +yield

template(name="login")
    .row
        form.col.s6.offset-s3(action="#",name="login")
            .row
                h3 Login
            .row
                .input-field.col.s12
                    input#username.validate(type="text",name="username")
                    label(for="username") Username
            .row
                .input-field.col.s12
                    input#password.validate(name="password",type="password")
                    label(for="password") Password
            .row
                button.btn.waves-effect.waves-light.col.s4.forgot_password Forgot password
                button.btn.waves-effect.waves-light.col.s4.offset-s4.login(type="submit") Login

template(name="users")
    .row
        h3 Users
        .divider
        .section
            +admins
        .divider
        .section
            +managers
        .divider
        .section
            +technicians

template(name="admins")
    h5 Admins
    +addButton
    ul.collection
        each admins
            +admin

template(name="admin")
    li.collection-item
        span.title {{profile.name}}
        p Second

template(name="managers")
    h5 Managers
    +addButton
    ul.collection
        li.collection-item
            span.title Title
            p first
            p Second
            button.btn.waves-effect.waves-light.secondary-content Delete

template(name="technicians")
    h5 Technicians
    +addButton
    ul.collection
        li.collection-item
            span.title Title
            p first
            p Second

template(name="addButton")
    button.btn.waves-effect.waves-light.add Add
template(name="deleteButton")
    button.btn.waves-effect.waves-light.delete Delete